# Application
app/mu-plugins
app/plugins/*
!app/plugins/.gitkeep
app/themes/twenty*
!app/themes/.gitkeep
app/upgrade
app/uploads/*
!app/uploads/.gitkeep
app/*cache*/*
app/*backup*/*
app/languages

# WordPress
cms
.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
composer.lock

# Node
node_modules
package-lock.json
yarn.lock

# WP-CLI
wp-cli.local.yml

# Cache, database dumps and other unnecessary things
*.sql
*.sqlite
.DS_Store
.idea
.htaccess
sitemap.xml
sitemap.xml.gz
deploy*