# Application
web/app/mu-plugins
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/themes/twenty*
!web/app/themes/.gitkeep
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/*cache*/*
web/app/*backup*/*
web/app/languages

# WordPress
web/cms
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
composer.lock

# Node
node_modules
package-lock.json
yarn.lock

# WP-CLI
wp-cli.local.yml

# Cache, database dumps and other unnecessary things
*.sql
*.sqlite
.DS_Store
.idea
.htaccess
sitemap.xml
sitemap.xml.gz
deploy*